{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "plugin:prettier/recommended",
    "@vue/prettier",
    "prettier"
  ],
  "plugins": [
    "vuetify",
    "prettier"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-console": "off",
    "indent": ["error", "tab"],
    "prettier/prettier": "error",
    "vuetify/no-deprecated-classes": "error",
    "vuetify/grid-unknown-attributes": "error",
    "vuetify/no-legacy-grid": "error"
  }
}