$default-animation-duration: 0.3s;

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

.underline {
  text-decoration: underline;
}

.cta {
  @extend .cursor--pointer;
  @extend .underline;
}

.no-underline {
  text-decoration: none;
}
